h1 {
    color: #eee;
    font-size: 28px;
    text-align: center
    }

h2 {
    font-size: 24px;
    margin-left: 10px;
}

#class {
    float: left;
}

#main-bio {
    float: left;
    width: 70%;
}


#contact-info{
    float: left;
    width: 30%;
}


#bio-image{
    float: left;
    width: 200px;
    margin: 20px
    }

body {
    background-color: #efeee7;
    font: Georgia,"Times New Roman",Times,serif;
    margin: 0;
    padding: 0;
    color: #333333
}

header {
    background-color: #333333
}

div {
    margin: 0 auto;
    line-height: 1.5;
}

a:link {
    color: #d21034
}